---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$font-weight-normal: 400;
$font-weight-bold:   600;

$base-font-family: "Playfair Display", -apple-system, "San Francisco", "Helvetica Neue", Helvetica, Roboto, "Segoe UI", "Segoe WP", Arial, Ubuntu, sans-serif;
$base-font-size:   13pt;
$base-line-height: 1.5;

// font family 
// "Source Sans Pro", "Lato", -apple-system, "San Francisco", "Helvetica Neue", Helvetica, Roboto, "Segoe UI", "Segoe WP", Arial, Ubuntu, sans-serif;

$heading-font-family: $base-font-family;
$heading-font-size:   16pt;
$heading-line-height: 1.5;

$small-font-size:  0.875em;
$vsmall-font-size: 0.66em;
$spacing-unit:     1.5em;

$grey-vlight:#fefefe;
$grey-light: #ccc;
$grey:       #888;
$grey-dark:  #444;
$grey-vdark: #060000;
$text-black: #000;
$blue:       #0091ed;
$orange:     #ca6c18;
$red:        #b6321c;
$pink:       #df1b66;
$nice-pink:  hsl(343, 29%, 56%); 

$background:        $grey-vlight;
$dark-background:   darken($background, 5%);
$text-color:        $text-black;
$text-light-color:  $grey;
$url-color:         $nice-pink;
$url-hover-color:   $orange;
$header-text-color: $text-color;
$header-hover-color:$nice-pink;
$header-hover-url:  $url-color;
$line-color:        $grey-light;

// Width of the content area
$content-width:    50em;
$content-min-width:15em;
$mobile:           32em;
$desktop:          50em;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "footer",
    "page",
    "syntax-highlighting",
    "fancy-image"
;
